<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Lender</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>Add Lender</h2>
    <form method="post" th:object="${lender}" th:action="@{/lenders/add}">
        <div>
            <label for="userId">User ID:</label>
            <input type="number" min="1" step="1" id="userId" name="userId" th:field="*{userId}" required><br/>
            <input type="submit" value="Add" class="btn"/>
            <a href="/lenders" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
