body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btn-danger {
    background-color: #f44336;
}

.btn-primary {
    background-color: #007bff;
}

.btn-details {
    background-color: #808080;
}

label {
    display: inline-block;
    width: 150px; /* Ширина метки */
    text-align: right; /* Выравнивание текста метки по правому краю */
    margin-right: 10px; /* Правый отступ между меткой и полем ввода */
}

input {
    display: inline-block;
    width: 200px; /* Ширина поля ввода */
    margin-bottom: 10px; /* Нижний отступ между полями ввода */
}
